* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #c7cda9;
    --secondary-color: #543c67;
    --accent-color: #a36079;
    --text-color: #f3f4ed;
    --bg-color: #13150c;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --white-color: #fdfdfd
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}

.github,
.link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: .2rem solid var(--primary-color);
    border-radius: 25%;
    background: #543c6750;
    box-shadow: 0 0 1rem 0 var(--shadow-color);
    font-size: 2rem;
    color: var(--primary-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: transform ease 0.2s, box-shadow ease 0.2s;
}

.github:hover {
    background: #c7cda980;
    color: var(--white-color);
    transform: translate(0, -3px);
    box-shadow: 0 20px 80px -10px var(--white-color);
}

.hamburger,
.navlist {
    display: none;
    font-size: 5rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

/* header section  */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(45deg, transparent, var(--bg-color));
}

.logo {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-color);
    cursor: pointer;
    margin-right: auto;
}

.navbar a {
    position: relative;
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3rem;
}

.navbar a.active::before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background: var(--white-color);
}

/* home section */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .home-content {
    max-width: 44rem;
    z-index: 1;
}

.home-content h2 {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--primary-color);
    line-height: 1;
}

.home-content h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1;
}

.home-content h3 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
}

span {
    color: var(--accent-color);
    transition: color 0.3s;
    transition: transform ease 0.3s, box-shadow ease 0.4s;
}

span:hover {
    color: var(--primary-color);
    transform: translate(0, -3px);
    box-shadow: 0 20px 80px -10px var(--white-color);
    border: .2rem solid var(--primary-color);
    border-radius: 0.5rem;
}

.home-content .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: .2rem solid var(--primary-color);
    border-radius: 25%;
    background: #543c6750;
    box-shadow: 0 0 1rem 0 var(--shadow-color);
    font-size: 2rem;
    color: var(--primary-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: transform ease 0.2s, box-shadow ease 0.2s;
}

.home-content .social-media a:hover {
    background: #c7cda980;
    color: var(--white-color);
    transform: translate(0, -3px);
    box-shadow: 0 20px 80px -10px var(--white-color);
}

.btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--primary-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--bg-color);
    cursor: pointer;
    transition: transform ease 0.3s, box-shadow ease 0.4s;
}

.hire-me {
    margin-left: 2.5rem;
    background: #543c67;
    color: var(--text-color);
}

.btn:hover {
    transform: translate(0, -3px);
    box-shadow: 0 20px 80px -10px var(--white-color);
}

.home .profession-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    background: var(--primary-color);
    overflow: hidden;
    pointer-events: none;
}

.home .profession-container .profession-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
}

.home-img img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-0%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}

/* about section */
.about-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about-container .about,
.about-container .education {
    background-color: #543c6733;
    padding: 5rem 7%;
    border-radius: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 1rem 0 var(--shadow-color);
    margin-right: auto;
    min-width: 100%;
}

.about-container h2 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
    line-height: 3.5rem;
    min-width: 50%;
    min-height: 50%;
}

.about-container p {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
    line-height: 2.5rem;
    text-align: justify;
}

/* skill section */
.skills-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.skills-container .skill {
    padding: 5rem 7%;
    background-color: #543c6733;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0 var(--shadow-color);
    margin-bottom: 2rem;
}

.skills-container h2 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
    line-height: 3.5rem;
    text-align: left;
}

.skills-container ul {
    list-style: none;
    padding: 0;
}

.skills-container ul li {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    line-height: 2.5rem;
    text-align: justify;
}

.skills-container ul li strong {
    color: var(--accent-color);
}

/* project section */
.projects-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.projects {
    padding: 5rem 7%;
    background-color: #543c6733;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0 var(--shadow-color);
    margin-bottom: 2rem;
    max-width: auto;

}

.projects-container h2 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
    line-height: 3.5rem;
    text-align: left;
}

.projects-container .project {
    background-color: #543c6733;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0 #543c6733;
    margin-bottom: 2rem;
    width: 100%;
}

.projects-container .project:hover {
    background-color: #543c6733;
    box-shadow: 0 0 1rem 0 var(--shadow-color);
    transform: translateY(-3px);
}

.projects-container .project h3 {
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--accent-color);
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}

.projects-container .project strong {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--accent-color);
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}

.projects-container .project p {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    line-height: 2.2rem;
}

.projects-container .project a:hover {
    color: var(--accent-color);
}

/* certification section */
.certification-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50%;
}

.certification-container .certification {
    background-color: #543c6733;
    padding: 5rem 7%;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0 var(--shadow-color);
    margin-bottom: 2rem;
}

.certification h2 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
    line-height: 3.5rem;
    text-align: center;
}

.certification ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 800px;
}

.certification ul li {
    background-color: #543c6733;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0 var(--shadow-color);
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    line-height: 2.2rem;
    flex: 1 1 calc(33.333% - 2rem);
    box-sizing: border-box;
    margin: 1rem;
}

.certification ul li:hover {
    background-color: #543c6733;
    box-shadow: 0 0 1rem 0 var(--shadow-color);
    transform: translateY(-3px);
}

.certification ul li strong {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--accent-color);
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}

.certification ul li a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s;
}

.certification ul li a:hover {
    color: var(--accent-color);
}

.certification ul li .link {
    margin-right: 1rem;
}

.certification ul li .github {
    margin-left: 1rem;
}

/* contact section */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
    padding: 5rem 7%;
    background-color: #543c6733;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0 var(--shadow-color);
    margin-bottom: 2rem;
}

.contact h2 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
    line-height: 3.5rem;
    text-align: center;
}

.contact .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: .2rem solid var(--primary-color);
    border-radius: 25%;
    background: #543c6750;
    box-shadow: 0 0 1rem 0 var(--shadow-color);
    font-size: 2rem;
    color: var(--primary-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: transform ease 0.2s, box-shadow ease 0.2s;
}

.contact .social-media a:hover {
    background: #c7cda980;
    color: var(--white-color);
    transform: translate(0, -3px);
    box-shadow: 0 20px 80px -10px var(--white-color);
}

.contact p {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
    line-height: 2.5rem;
    text-align: justify;
}

.contact strong {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--accent-color);
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}

/* footer */
footer {
    background-color: #543c6733;
    padding: 1rem 7%;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0 var(--shadow-color);
    margin-bottom: 2rem;
}

footer p {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: .5rem;
    margin-top: .5rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5rem;
    text-align: right;
}

/* Mobile Responsive Styles */
@media (max-width: 873px) {
    html {
        font-size: 50%;
    }

    .header {
        padding: 1rem 5%;
        flex-direction: column;
    }

    .logo {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .navbar {
        display: none;
        flex-direction: column;
        align-items: left;
        background-color: #543c6733;
        position: absolute;
        top: 100%;
        left: 75%;
        right: 5%;
        width: 25%;
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
        font-family: 'Poppins', sans-serif;
        line-height: 2.5rem;
        text-align: left;
    }

    .navbar.show {
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    .navbar {
        margin: 0rem 0;
        border-radius: 1rem;
}

    .hamburger {
        display: block;
    }

    .navbar a.active::before {
        display: none;
    }

    .hire-btn button {
        font-size: 1.5rem;
        padding: .6rem 1.2rem;
        margin-left: 0;
        margin-top: 1rem;
    }

    .home {
        flex-direction: column;
        padding: 5rem 5%;
    }

    .home-content {
        max-width: 100%;
        text-align: center;
    }

    .home-content h1 {
        font-size: 4rem;
    }

    .home-content h2,
    .home-content h3 {
        font-size: 2.5rem;
    }

    .home-img {
        width: 100%;
        height: auto;
        margin-top: 2rem;
    }

    .about-container,
    .skills-container {
        padding: 5rem 5%;
    }

    .about-container .about,
    .about-container .education,
    .skills-container .skill {
        padding: 3rem 5%;
    }

    .about-container h2,
    .skills-container h2 {
        font-size: 2.5rem;
    }

    .about-container p,
    .skills-container p {
        font-size: 1.5rem;
    }

    .contact p {
        font-size: 1.5rem;
    }

    .contact strong {
        font-size: 1.6rem;
    }

    footer {
        padding: 1rem 5%;
    }

    footer p {
        font-size: 1.5rem;
        text-align: center;
    }
}